<%= simple_form_for @user do |f| %>
<%= f.association :gymsite, label_method: :surname, value_method: :id, include_blank: false%>
<%= f.input :first_name, label: 'First Name' %>
<%= f.input :last_name, label: 'Last Name' %>
<%= f.input :email %>
<%= f.simple_fields_for(:roles) do |frol|%>
<%= frol.association :roles, as: :check_boxes, label_method: :role_name, value_method: :id, include_blank: false %>
<% end %>
<p><%= f.button :submit%></p>
<% end %>
<%= link_to 'New User', new_user_path %>
<%= link_to 'Index', users_path %>
