
<div class='container'>
  <h2>Users index</h2>
<table class='table'>

  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %><br></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <% user.roles.each do |rol| %>
      <td><%=rol.role_name%></td>
      <% end %>

      <td><%= link_to 'Show', user_path(user.id) %></td>
      <td><%= link_to 'Edit', edit_user_path(user.id) %></td>
      <td><%= link_to 'Delete', user, confirm: 'Are you sure?', method: :delete %></td>
      <tr>
      </tbody>
    </table>
    <% end %>
    <p><%= link_to 'New User', new_user_path %></p>
</div>
